[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "deps/node-mysql-libmysqlclient"]
	path = deps/node-mysql-libmysqlclient
	url = git://github.com/kreetitech/node-mysql-libmysqlclient.git
